
.layout{
    background-color: aqua;
    font-size: x-large;
}
.headline{
    text-align: center;
    color: blue;
    background-color: darkseagreen;
}
.navlinkcss{
    color: blueviolet (21, 255, 0);
}

